.display_block {
	display: block;
}
.display_none {
	display: none;
}
.opacity_1 {
	opacity: 1;
}
.clearfix {
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}



// FONT
.s-bold-hel{
	font-family: $bold-helvetica;
}

.s-light-hel{
	font-family: $light-helvetica;
}

.s-inline-vertical{
	display: inline-block;
	vertical-align: middle;
}




.s-padding-top-160px{
	padding-top: 160px;
}


.s-cover-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
}

.t-align-center{
	text-align: center;
}

.s-d-inl-vam{
	display: inline-block;
	vertical-align: middle;
}


@media (max-width:991px) {
	.s-padding-top-160px{
		padding-top: 100px;
	}
}