.advice{
	color: $dark-blue;
	@include background(cover,no-repeat,center);
}

.advice__wrapp{
	
}

.advice__row{
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	    -webkit-align-items: center;
	            align-items: center;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	padding: 60px 0;
	
}

.advice__col{
}

.advice__info{
	max-width: 325px;
	width: 100%;
}

.advice__title{
	font-size: 24px;
}

.advice__text{
	font-size: 18px;
	padding-top: 20px;
	span{
		font-family: $regular-helvetica;
	}
}

.advice__record{
	padding: 50px 90px 55px 90px;
	background: #FBFBFB;
	border: 1px solid $gray-11;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.13);
	border-radius: 2px;
	max-width: 410px;
	width: 100%;
}

.advice__form{
	max-width: 230px;
	width: 100%;
	margin: 0 auto;
	.input{
		margin-bottom: 10px;
	}
}

.advice__btn{
	font-size: 14px;
	letter-spacing: 0.04em;
	margin: 10px 0 20px 0;
}

@media (max-width:991px) {
	.advice__title{
		font-size: 20px;
	}

	.advice__text{
		font-size: 16px;
	}
	.advice__record{
		padding: 35px 55px;
	}
}

@media (max-width:730px) {
	.advice__row{
		padding: 20px 0;
	}

	.advice__col{
		width: 100%;
		padding: 15px 0;
	}

	.advice__info{
		max-width: 420px;
		margin: 0 auto;
		text-align: center;
	}

	.advice__title{
		font-size: 24px;
	}

	.advice__record{
		margin: 0 auto;
	}
}

@media (max-width:530px) {


}

@media (max-width:480px) {
	.advice__record{
		padding: 25px 25px;
		max-width: 285px;
	}
}