.basket{
	padding: 150px 0 225px 0;
}


.basket__title{
	font-family: $ukrainian-regular;
	font-size: 30px;
	margin-bottom: 25px;
} 
.basket__table-block{
	background: $gray-6;
	border: 1px solid $gray-4;
    border-radius: 2px;
    padding: 15px 40px; 
}
.basket__table{
	border-collapse: collapse;
	max-width: 860px;
	width: 100%;
	text-align: center;
	th,
	td{
		font-family: $light-helvetica;
		&:first-child{
			min-width: 55px;
			text-align: left;
		}
		&:nth-child(2){
			width: 150px;
			text-align: left;
		}
		&:nth-child(3){
			width: 270px;
			text-align: left;
		}
	}
	th{
		white-space: nowrap;
		color: $gray-8;
		font-weight: 300;
		padding-bottom: 10px;
		border-bottom: 1px solid $gray-8;
	}
	td{
		padding: 4px 0;
	}
	tr{
		&:first-child{
			td{
				padding-top: 20px;
			}
		}
	}
	.block-number_transparent{
		margin: 0;
	}
}
.basket__table-number-delete{
	display: inline-block;
}
.basket__table-flex{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	 -webkit-justify-content: center;
	         justify-content: center;
}
.basket__delete{
	display: block;
	width: 16px;
	cursor: pointer;
	margin-left: 5px;
}

.basket__table-list-mobile{
	display: none;
}
@media (max-width:730px) {
	.basket{
		padding: 150px 0 55px 0;
	}

	.basket__table{
		th,
		td{
			font-size: 14px;
			padding-top: 15px;
			border-bottom: 1px solid $gray-8;
			&:first-child,
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(6){
				display: none;
			}
			&:nth-child(3){
				width: 270px;
				text-align: left;
			}
		}
	}
	.basket__table-mobile{
		display: block;
	}
	.basket__table-list-mobile{
		display: block;
		padding-top: 15px;
		li{
			margin-bottom: 10px;
		}
		span{
			color: $light-blue;
		}
	}
	.basket__table-block {
	    padding: 15px 15px;
    }
}

@media (max-width:320px) {
	.basket__btn{
		margin: 0 auto;
	}
}