.contacts{
	color: $dark-blue;
}

.contacts__wrapp{
	padding: 85px 0 100px 0;
}

.contacts__row{
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.contacts__title{
	font-family: $ukrainian-regular;
	font-size: 30px;
	padding-bottom: 50px;
}

.contacts__col{
	width: 50%;
}

.contacts__list{
	
}

.contacts__item{
	padding-bottom: 45px;
	&:last-child{
		padding-bottom: 35px;
	}
}

.contacts__name{
	font-size: 14px;
	font-family: $bold-helvetica;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.contacts__text{
	font-family: $light-helvetica;
}

.contacts__social{
	ul{
		a{
			path{
				fill: $dark-blue;
			}
		}
	}
}

@media (max-width:991px) {

}

@media (max-width:730px) {
	.contacts__wrapp{
		padding: 0px 0 50px 0;
	}

	.contacts__col{
		width: 100%;
	}

	.contacts__col_pb{
		padding-bottom: 60px;
	}
}

@media (max-width:530px) {


}

@media (max-width:380px) {

}