.content{
	width: calc(100% - 250px);
	padding: 20px 12.5px 55px;
	border-radius: 2px;
	background: $gray-6;
	border: 1px solid darken($gray-6,10%);
	.goods{
		padding: 0;
	}
}  
.content_lk_favorite{
	padding-top: 0;
}
.content_lk_setting{

}
.content__item_product-table{
	padding:0 5px 0 35px; 
}

.content__title{ 
	font-size: 24px;
	font-family: $ukrainian-regular;
}
.content__title_goods{
	padding-left: 30px;
}
.content__more{
	margin-top: 25px;
	color: $gray-8;
	
	text-decoration-line: underline;
	display: inline-block;
	&:hover{
		text-decoration: none;
	}
}


#content{
	h1,p{
		margin-bottom: 15px;
	}
}


@media (max-width:991px) {
	.content{
		width: 100%;
	}
}
@media (max-width:730px) {
	.content{
		padding: 20px 15px 55px;
	}
	.content__item_product-table{
		padding:0; 
	}
}