.decree{
	color: $dark-blue;
}

.decree__wrapp{
	
}
.decree__info{
	max-width: 630px;
	margin: 0 auto;
}

.decree__content{
	margin: 0 auto;
	max-width: 740px;
	blockquote{
	    overflow: hidden;
	    position: relative;
	    max-width: 740px;
	    width: 100%;
	    padding: 40px 85px;
	    background: $gray-6;
		border: 1px solid $gray-4;
		border-radius: 2px;
		margin: 35px 0;
		p{
			font-size: 14px;
			padding-bottom: 10px;
		}
		a{
			font-size: 14px;
			text-decoration: underline;
			color: $light-blue;
			&:hover{
				text-decoration: none;
			}
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
		}
		&:before{
			width: 22.5px;
			height: 28px;
			background: url(./images/svg/elements/icon-quote-1.svg) left no-repeat/contain;
		}
		&:after{
			width: 36.5px;
			height: 45.5px;
			background: url(./images/svg/elements/icon-quote-2.svg) left no-repeat/contain;
		}
	}
}

.decree__text{
	font-size: 20px;
}


@media (max-width:991px) {

}

@media (max-width:730px) {
	.decree__content{
		blockquote{
		    padding: 25px 30px;
			margin: 35px 0;
		}
}

	.decree__text{
		font-size: 18px;
	}
}

@media (max-width:530px) {


}

@media (max-width:480px) {
	.decree__text{
		font-size: 16px;
	}

}

@media (max-width:380px) {


}