.delivery{
	
}

.delivery__wrapp{
	padding: 65px 0 85px 0
}

.delivery__text{
	font-size: 14px;
}

.delivery__content{
	color: $dark-blue;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	p,ol,ul{
		font-family: $light-helvetica;
		font-size: 14px;
	}
	p{
		padding: 15px 0 0 0;
	}
	ul{
		list-style-type: disc;
		padding-left: 15px;
	}
	ol{

		padding: 15px 0 20px 15px;
	}
	h4{
		font-size: 14px;
		font-family: $bold-helvetica;
	}
	blockquote{
	    overflow: hidden;
	    position: relative;
	    max-width: 740px;
	    width: 100%;
	    padding: 40px 85px;
	    background: $gray-6;
		border: 1px solid $gray-4;
		border-radius: 2px;
		margin: 35px 0;
		p{
			font-family: $regular-helvetica;
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
		}
		&:before{
			width: 22.5px;
			height: 28px;
			background: url(./images/svg/elements/icon-quote-1.svg) left no-repeat/contain;
		}
		&:after{
			width: 36.5px;
			height: 45.5px;
			background: url(./images/svg/elements/icon-quote-2.svg) left no-repeat/contain;
		}
	}
}

@media (max-width:991px) {

}

@media (max-width:730px) {
	.delivery__content{
		blockquote{
		    padding: 30px 45px;
		}
	}
}

@media (max-width:430px) {
	.delivery__content{
		blockquote{
		    padding: 20px;
		}
	}
}

@media (max-width:380px) {

}