.equipment{
	color: $dark-blue;
}

.equipment__wrapp{
	padding: 0 0 90px 0;
}

.equipment__row{
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.equipment__col{
	width: 50%;
}

.equipment__col_list{
	background: $gray-6;
	border: 1px solid $gray-4;
	border-radius: 2px;
	padding: 25px;
	max-width: 525px;
}

.equipment__col_pl70{
	padding-left: 70px;
}

.equipment__table{
	
		
	td{
		font-family: $light-helvetica;
		font-size: 14px;
		padding-bottom: 20px;
		&:first-child{
			width: 310px;
		}
		&:last-child{
			width: 100px;
		}
	}
	p{
		position: relative;
		text-indent: 15px;
		display: block;
		&:before{
		    content: "";
		    
		    width: 6px;
		    height: 6px;
		    border-radius: 100%;
		    position: absolute;
		    top: 5px;
		    left: 0;
		    background: $dark-blue;;
		}
		
	}
}

.equipment__title{
	font-size: 18px;
	padding-bottom: 20px;
}

.equipment__name{
	font-size: 18px;
}

.equipment__price{
	font-size: 22px;
	padding: 15px 0 20px 0;
}

.equipment__form{
	max-width: 230px;
	.input{
		margin-bottom: 10px;
	}
}

.equipment__btn{
	margin: 10px 0 15px 0;
}

.equipment-checkbox__text{
	font-size: 12px;
	color: $dark-blue;
}


@media (max-width:991px) {
	.equipment__wrapp{
		padding: 0 0 60px 0;
	}

}

@media (max-width:730px) {
	.equipment__col{
		width: 100%;
		margin: 0 auto;
	}
	.equipment__col_pl70{
		text-align: center;
		padding: 25px 0 0 0;
	}

	.equipment__form{
		margin: 0 auto;
	}

	.equipment-checkbox__text{
		text-align: left;
	}
}

@media (max-width:530px) {
	.equipment__col_list{
		padding: 20px 10px;
	}

}

@media (max-width:380px) {


}