.footer{
	background: $dark-blue;
	width: 100%;
	color: $white;
}

.footer__wrapp{
	
}

.footer__row{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	    padding: 35px 0 70px 0;
}

.footer__col{
}

.footer__col_center{
	text-align: center;
}

.footer__col_mw230{
	max-width: 230px;
}

.footer__form{
	margin: 20px auto 0;
	max-width: 230px;
	width: 100%;
	.input{
		margin-bottom: 10px;
	}
}

.footer__phone{
	color: $white;
	font-size: 26px;
		&:hover{
			color: $light-blue;
			transition:0.3s;
				path{
					fill:$light-blue;
					transition:0.3s;
				}
			}
}

.footer__mail{
	display: block;
	color: $white;
	font-size: 22px;
	padding: 25px 0;
		&:hover{
			color: $light-blue;
			transition:0.3s;
				path{
					fill:$light-blue;
					transition:0.3s;
				}
			}
}

.footer__social{
}

.footer__social_p2{
	margin: 0 35px;
}

.footer__list{
	li a{
		font-size: 14px;
		color: $white;
		display: block;
		padding: 9px 0;
	}

	li:hover{
		a{
			color: $light-blue;
			transition:0.3s;
		}
	}
}



.footer__price-list{
	span{
		color: $light-blue;
	}

	&:hover{
		span{
			color: $white;
			transition:0.3s;
				path{
					fill:$white;
					transition:0.3s;
				}
		}
	}
}

.footer__subscribe{
	font-size: 22px;
}

.footer-bottom{
	border-top: 1px solid #455265;
	text-align: center;
	padding: 25px 0;
}

.footer-bottom__text{
	font-size: 12px;
}

@media (max-width:991px) {
	.footer__row{
		padding: 35px 0;
	}

	.footer__phone{
		font-size: 18px;
	}

 	.footer__mail{
 		font-size: 16px;
 		padding: 20px 0;
 	}

 	.footer__list{
	li a{
		font-size: 12px;
		padding: 7px 0;
	}
}

	.footer__col_mw230{
		max-width: 200px;
	}

 	.footer__subscribe{
 		font-size: 18px;
 	}
}

@media (max-width:730px) {  
	
	.footer__col{
		width: 50%;
	}
	.footer__col_order1{
		-webkit-order: -1;
		    -ms-order: -1;
		        order: -1;
	}
}

@media (max-width:530px) {
	.footer__subscribe{
 		font-size: 16px;
 	}
}

@media (max-width:380px) {
	.footer__col{
		width: 100%;
	}
	.footer__col_order2{
		width: 100%;
		-webkit-order: -2;
		    -ms-order: -2;
		        order: -2;
	}

	.footer__col_center{
		padding: 25px 0;
	}

	.footer__col_mw230{
		max-width: 100%; 
		text-align: center;
	}

	.footer__phone{
		font-size: 22px;
	}

 	.footer__mail{
 		font-size: 20px;
 		padding: 20px 0;
 	}

 	.footer__list{
		li a{
			font-size: 16px;
			padding: 7px 0;
		}
	}

	.footer__subscribe{
		font-size: 22px;
		padding-bottom: 10px;
	}

	.footer__btn{
		margin: 0 auto;
	}
}