.goods{
	padding: 45px 0 45px 0;
}

.goods__wrapp{
	
}
.goods_col-3{
	.goods__col{
		width: 33.33%;
	}
}
.goods_padding-0{
	padding-top: 25px;
	padding-bottom: 0;
}
.goods__row{
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding-top: 30px;
	// margin: 0 -10px;
}

.goods__col{
	padding: 15px 10px;
}

@media (max-width:991px) {
	.goods{
		padding: 25px 0 25px 0;
	}
}
@media (max-width:730px) {
	.goods_col-3{
		.goods__col{
			width: 50%;
		}
	}
}
@media (max-width:530px) {
	.goods_col-3{
		.goods__col{
			width: 100%;
		}
	}
}