.header{
	
	position: relative;
	&:before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		top: 0; 
		left: 0; 
		height: 300px;
		background: linear-gradient(180deg, rgba($white,0.9) 0%, rgba($white, 0) 100%);
		z-index: 1;
	}
}
.header__slide{
	@include background(cover,no-repeat,center);
}

.header__wrapp{
	height: 100vh;
	z-index: 2;
	position: relative; 
	padding: 135px 0;
	display: flex; 
	-webkit-align-items: center;
	        align-items: center;
}

.header__title{
	font-family: $ukrainian-regular;
	font-size: 60px;
	margin-bottom: 10px;
}
.header__sub-title{
	font-size: 26px;
	margin-bottom: 45px;
}
.header__link{
	display: inline-block;
	color: $light-blue;
	text-decoration-line: underline;
	&:hover{
		text-decoration-line: none;
	}
}


@media (max-width:1199px) {
	.header__title{
		font-size: 50px;
	}
	.header__wrapp{
		padding: 70px 0;
	}
}
@media (max-width:730px) {
	.header__title{
		font-size: 40px;
	}
	.header__sub-title{
		font-size: 18px;
		margin-bottom: 25px;
	}
}
@media (max-width:530px) {
	.header{
		.slider-arrow{
			top: 100px;
			transform:translate(0,0);
		}
	}
}