

.head{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	&.active{
		box-shadow: 0 2px 5px 3px rgba($dark-blue,0.5);
		.head-bottom{
			background: $white;
		}
		.block-link-shopping-cart,
		.input-search,
		.menu li a{
			height: 50px;
		}
		.menu li a{
			// color: $gray-2;
			line-height: 50px;
		}
		.logo{
			width: 70px;
		}
	}
}




// head-top
.head-top{
	background: $dark-blue;
}
.head-top__wrapp{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	   -webkit-justify-content: space-between;
	           justify-content: space-between;
}

.head-top__list{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	
	a{
		padding: 0px 15px;
		cursor: pointer;
		height: 50px;
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		font-size: 14px;
		color: $white;
		transition:all 0.3s;
		&:hover{
			background: rgba($light-blue,0.5);
		}
		span{
			&:first-child{
				margin-right: 10px;
			}
		}
		&.head-top__link-blue{
			background: $light-blue;
			&:hover{
				background: darken($light-blue,10%);
			}
		}
	}
}





//head-bottom
.head-bottom{
	
}

.head-bottom__wrapp{
	position: relative;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.head-bottom__item{
	width: 487.16px;
}

.head-bottom__row{
	width: 100%;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end; 
}


.head-bottom__input-search:focus{
	width: 100%;
	position: relative;
}
.head-bottom__input-search:focus + .block-link-shopping-cart{
	width: 0px;
	overflow: hidden;
}
.head-bottom__input-search:focus + .block-link-shopping-cart + .head-bottom__search-cover{
	visibility: inherit;
	opacity: 1;
	pointer-events: auto;
}
.head-bottom__search-cover{
	transition:all 0.3s;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($dark,0.5);
	z-index: 5;	
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.head-bottom__input-search_mobile{
	display: none;
}

@media (max-width:1199px) {
	.head-bottom__item{
		width: 413.56px;
	}

	.head-top__list a {
    	padding: 0 10px;
    	font-size: 12px;
	}
}
@media (max-width:991px) {
	.head-bottom__input-search_mobile{
		display: block;
	}
	.head-bottom__input-search_desktop{
		display: none;
	}
	.head-bottom__menu-desktop{
		display: none;
	}
	.head{
		box-shadow: 0 2px 5px 3px rgba($dark-blue,0.5);
		&.active{
			.burger{
				width: 50px;
				height: 50px;
			}
		}
	}
	.head-bottom{
		background: $white;
	}
	.head-top{
		display: none;
	}
	.head-bottom__item{
		display: flex;
		width: 120px;
		.block-link-shopping-cart{
			width: 100%;
		}
	}
	.head-bottom__input-search{
		width: 50px;
		@include placeholder {
			color: transparent;
		}
		&:focus{ 
			transform:translateX(-50px);
			position: absolute;
			top: 0;
			left: 50px;
			@include placeholder {
				color: $dark-blue;
			}
		}
	}
	.head-bottom__input-search:focus+ .head-bottom__search-cover{
		visibility: inherit;
		opacity: 1;
		pointer-events: auto;
	}
}


@media (max-width:480px) {
	.head-bottom__item{
		width: 100px;
	}

}