.history{
	padding:30px 30px;
	
}

.history__row{
	margin: 0 -15px;
	display: flex;
}
.history__col{
	&:first-child{
		width: 500px;
	}
	&:last-child{
		width: calc(100% - 500px);
	}
	padding:0 15px;
}

.history__tr-one{
	display: flex; 
	div{
		color: $dark-blue;
		font-family: $light-helvetica;
		font-size: 16px;
		&:first-child{
			width: 65px;
			margin-right: 25px;
			text-align: center;
		}
		&:nth-child(2){
			width: 94px;
		}
		&:nth-child(3){
			width: 75px;
			margin-right: 12px;
			text-align: center;
		}
		&:nth-child(4){
			width: 65px;
		}
		&:nth-child(5){
			width: 84px;
		}
	}
} 

.history__head{
	margin-bottom: 25px;
	div{
		font-size: 14px;
		color: $gray-8;
	}
}

.history__link-one{
	position: relative;
	display: block;
	&:before{
		content: "";
		transition:all 0.3s;
		padding: 3px;
		border: solid $gray-1;
		border-width: 0px 1px 1px 0;
		position: absolute;
		left: -18px;
		top: 50%;
		transform:translate(0,-50%) rotate(-45deg);
	}

	&.active{
		&:before{
			border-color: $light-blue;
			transform:translate(0,-80%) rotate(45deg);
		}
		>div{
			div:not(:last-child){
				color: $light-blue;
			}
		}
	}
}



.history__tr-two{
	margin-top: 10px;
	display: flex; 
	div{
		color: $dark-blue;
		font-family: $light-helvetica;
		&:first-child{
			width: 184px;
			span{
				display: inline-block;
				position: relative;
				font-size: 16px;
				font-family: $regular-helvetica;
				padding-right: 25px;
				&:before{
					content: "";
					transition:all 0.3s;
					padding: 3px;
					border: solid $gray-1;
					border-width: 1px 0px 0px 1px;
					position: absolute;
					right: 0;
					top: 50%; 
					transform:translate(0,-50%) rotate(-45deg);
				}
			}
		}
		&:nth-child(2){
			width: 75px;
			margin-right: 12px;
			text-align: center;
		}
		&:nth-child(3){
			width: 65px;
		}
	}
}
.history__list-two{
	padding-bottom: 10px;
}
.history__link-two{
	display: block;
	&.active{
		&:before{
			border-color: $light-blue;
			transform:translate(0,-80%) rotate(45deg);
		}
		>div{
			div:first-child{
				color: $light-blue;
				span{
					&:before{
						border-color: $light-blue;
						transform:translate(0,-80%) rotate(-135deg);
					}
				}
			}
		}
	}
}


.history__list-three{
	margin-top: 3px;
	li{
		font-size: 14px; 
		margin-bottom: 5px;
		&:not(:first-child){
			font-family: $light-helvetica;
		}
	}
}

.history__accordion{
	max-width: 540px;
	width: 100%;
	>.dcjq-parent-li{
		position: relative;
		margin-bottom: 10px;
	}
}



.history__info{
	.info-list{
	    max-width: 250px;
	    padding: 25px 0 30px 0;
		.info-list__item-text{
			font-size: 16px;
			background: $gray-6;
		}
	}
}


.history__order-title{
	padding-top: 30px;
	font-size: 20px;
}
.history__status{
	font-size: 18px;
	color: $dark;
	span{
		color:$dark-blue;
	}
} 

.history__mobile-data{
	display: none;
}


@media (max-width:1199px) {
	.history__row{
		display: block;
	}
	.history__col{
		&:first-child,
		&:last-child{
			width: 100%;
		} 
	}
	.history__info .info-list{
		max-width: 320px;
	}
} 
@media (max-width:730px) {
	.history {
	    padding: 30px 15px;
	}
}
@media (max-width:530px) {
	.history__tr-one{
		div{
			font-size: 14px;
			&:nth-child(2){
				width: 50%;
				margin: 0;
			}
			&:nth-child(3),
			&:nth-child(4){
				width: 25%;
				margin: 0;
			}
			&:nth-child(1),
			&:nth-child(5){
				display: none;
			}
			&:nth-child(5){
				width: 90px;
			}
		}
	} 
	.history__tr-two{
		div{
			font-size: 14px;
			&:first-child{
				width: 50%;
				span{
					font-size: 14px;
				}
			}
			&:nth-child(2),
			&:nth-child(3){
				width: 25%;
				margin: 0;
			}
		}
	}
	.history__col{
		&:last-child{
			padding: 0;
		}
	}

	.history__mobile-data{
		font-family: $light-helvetica;
		padding-top: 10px;
		display: block;
		font-size: 14px;
		span{
			color: $light-blue;
			margin-right: 5px;
		}
	}
	.history__info .info-list .info-list__item-text{
		font-size: 14px;
	}
} 