.how-we-work{
	// padding-top: 270px;
	@include background(cover,no-repeat,center);
}

.how-we-work__wrapp{
}

.how-we-work__row{
	text-align: center;
	display: flex;
	position: relative;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	
	
}
.how-we-work__block-way{
	margin-top: 60px;
	height: 475px;
}

.how-we-work__block{
	width: 250px;
	position: relative;
}

.how-we-work__col_position{
	position: absolute;
	top: calc(100% + 50px);
	
	&_left{
		left: 250px;
	}
	&_right{
		right: 250px;
	}
}
.how-we-work__block_arrow{
	&:before,
	&:after{
		content: '';
		bottom: calc(50% - 15px);
		background: url(./images/svg/elements/icon-arrow-order.svg) center no-repeat/contain;
		position: absolute;
		width: 61px;
		height: 121px;
		display: block;
	}
	&:before{
		left: -50px;
		
		
		
	}
	&:after{
		right: -50px;
		transform:rotate(235deg);
		background: url(./images/svg/elements/icon-arrow-order.svg) center no-repeat/contain;
	}
}

.how-we-work__images{
	height: 60px;
	img{
		display: block;
	    margin: 0 auto;
	}
}

.how-we-work__img{
	
}

.how-we-work__info{
	color: $dark-blue;
}

.how-we-work__name{
	font-size: 22px;
	padding: 25px 0 10px 0;
}

.how-we-work__text{
	font-size: 16px;
}

@media (max-width:1199px) {
	.how-we-work__col_position{
		&_left{
			left: 180px;
		}
		&_right{
			right: 180px;
		}
	}

	.how-we-work__block_arrow{
		&:before{
			left: -40px;
		}
		&:after{
			right: -40px;
		}
	}
}

@media (max-width:991px) {
	.how-we-work{
		background: $gray-6 !important;
	}
	.how-we-work__col_position{
			top: 100%;
	} 
	.how-we-work__block-way{
		height: 100%;
		padding-bottom: 25px;
	}

	.how-we-work__row{
		-webkit-justify-content: center;
		        justify-content: center;
	}

	.how-we-work__col_position{
		position: static;
	}

	.how-we-work__col{
		width: 50%;
	}

	.how-we-work__block{
		margin: 0 auto;
		padding: 15px 0;
	}

	.how-we-work__block_arrow{
		&:before,
		&:after{
			display: none;
		}
	}
}

@media (max-width:730px) {
	
}

@media (max-width:680px) {
	.how-we-work__col{
		width: 100%;
	}


}

@media (max-width:380px) {

}