.main{
	padding-top: 155px;
}
.main__breads-crumbs{
	 margin-bottom: 20px;
}
.main__wrapp{
	display: flex;
	position: relative;
}

.main__tabs-product{
	right: 0;
	position: absolute;
	bottom: calc(100% + 15px);
	display: flex;
	li{
		margin: 0 10px;
		cursor: pointer;
		&.active{
			cursor: default;
			rect{
				stroke:$light-blue;
			}
		}
	}
}
@media (max-width:991px) {
	.main{
		padding-top: 100px;
	}
	.main__wrapp{
		display: block;
	}
	.main__tabs-product{
		right: 0;
		position: relative;
		bottom: 0;
		margin-bottom: 15px;
		justify-content: flex-end;
	}
}
@media (max-width:730px) {
	.main__breads-crumbs{
		margin-bottom: 0;
	}
	
}