.menu{
	font-size: 0;
	
	li{
		display: inline-block;
		vertical-align: middle;
	}	
	a{
		position: relative;
		padding:0 15px;
		height: 85px;
		font-size: 14px;
		color: $dark-blue;
		line-height: 80px;
		display: block;
		transition:all 0.3s;
		overflow: hidden;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			transition:all 0.3s;
			background: $dark-blue;
			transform:scale(0.0000001);
			opacity: 0;
		}
		&:hover{
			&:before{
				opacity: 1;
				transform:scale(1);
			}
		}
		&.active{
			cursor: default;
			&:before{
				opacity: 1;
				transform:scale(1);
			}
		}
	}
}

@media (max-width:1199px) {
	.menu a {
   	 	padding: 0 8px;
   	 	height: 60px;
   	 	line-height: 60px;
    }
}
@media (max-width:991px) {
	.menu {
		li{
			display: block;
		}
		a {
			font-size: 16px;
			color: $white;
	   	 	padding: 0 20px;
	   	 	height: 50px;
	   	 	line-height: 50px;
	   	 	&:before{
	   	 		display: none;
	   	 	}
	   	 	&:hover{
	   	 		background: rgba($white,0.1);
	   	 	}
	    }
	}
	.menu_icon-block{
		a{
			span{
				display: inline-block;
				vertical-align: middle;
				&:first-child{
					width: 20px;
					height: 20px;
					position: relative;
					margin-right: 10px;
					img{
						top: 0;
						left: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit:contain;
					}	
				}
			}
		}
	}
}
