.positions{
	padding: 80px 0 55px 0;
}

.positions__wrapp{
	.spheres{
		margin: 0;
		position: static;
	}
	.spheres__slider{
		background: #FFF;
		-webkit-box-shadow:none;
		        box-shadow:none;
	}
}

.positions__title{
	text-align: center;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 25px;
	p{
		font-size: 24px;
		color: $dark-blue;
	}
}

@media (max-width:991px) {
	.positions{
		padding: 60px 0 55px 0;
	}

}

@media (max-width:730px) {
	.positions__title{
		p{
			font-size: 20px;
		}
	}
}

@media (max-width:530px) {
	.positions{
		padding: 40px 0 55px 0;
	}

}
@media (max-width:480px) {
	.positions__title{
		p{
			font-size: 18px;
		}
	}
}

@media (max-width:380px) {


}