

.product-single_padding{
	padding: 195px 0 50px;
}
.product-single_modal-block{
	max-width: 1065px;
	
}
.product-single_popup{
	background: $white;
	padding: 25px;
	text-align: left;
}
.product-single__wrapp{
	margin: 0 auto;
	max-width: 1005px;
	width: 100%;
}

.product-single__row{
	margin: 0 -40px;
	display: flex;
}

.product-single__col{
	width: 50%;
	padding:0 40px;
}

.product-single__slider-big{
	 
}
.product-single__slide-big{
	// @include background(contain,no-repeat,left);
	
}
.product-single__box-big{
	padding-top: calc(310% * 100 / 500);
	position: relative;
	img{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
}

.product-single__slider-small{
	.slider-arrow_left{
		left: -15px;
	}
	.slider-arrow_right{
		right: -15px;
	}
	padding: 0 15px;
}

.product-single__slide-small{
	padding:10px 10px;
}
.product-single__box-small{
	padding-top: calc(104% * 100 / 130);
	position: relative;
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit:cover;
	}
}

.product-single__content{
}
.product-single__title{
	font-size: 30px;
	font-family: $ukrainian-regular;
}

.product-single__favorites{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 14px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.product-single__desc{
	color: $dark;
	margin-bottom: 30px;
}

.product-single__text{
	font-size: 18px;
	padding-right: 10px;
}

.product-single__how-much{
	margin: 30px 0;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

.product-single__price{
	font-size: 24px;
	font-family: $bold-helvetica;
	margin-bottom: 45px;
}


@media (max-width:991px) {
	.product-single_padding {
	    padding: 75px 0 20px;
	}
	.product-single__row{
		margin: 0 -15px;
	}
	.product-single__col{
		padding: 15px;
	}
	.product-single__title{
		font-size: 25px;
	}
	.product-single__desc{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.product-single__text{
		font-size: 14px;
	}
	.product-single__price {
	    font-size: 20px;
	    margin-bottom: 25px;
	}
	.product-single__how-much {
    	margin: 15px 0;
	}
}
@media (max-width:730px) {
	.product-single__row{
		margin: 0 -15px;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.product-single__col{
		width: 100%;
		
	}
}
@media (max-width:530px) {
	.product-single_popup {
    	padding: 25px 10px;
    }
    .product-single__slide-small {
	    padding: 10px 5px;
	}
}