.schools{
	color: $dark-blue;
}


.schools__wrapp{
	padding: 65px 0 105px 0;
}

.schools__title{
	font-size: 24px;
	text-align: center;
}

.schools__row{
	display: flex;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	margin: 0 -40px;
	padding: 60px 0 ;
}

.schools__col{
	width: 33.33333333333333%;
	padding: 0 40px 45px 40px;
	text-align: center;
}

.schools__image{
    padding-top: calc(200% * 100 / 300);
    position: relative;
}

.schools__info{
}

.schools__name{
	font-size: 18px;
	padding: 10px 0 5px 0;
}

.schools__city{
	font-size: 14px;
}

@media (max-width:991px) {
	.schools__wrapp{
		padding: 35px 0 25px 0;
	}
	.schools__row{
		padding: 45px 20px 20px 20px;
	}
	.schools__col{
		padding:  0 20px 25px 20px;
	}
	
}

@media (max-width:730px) {
	.schools__col{
		width: 50%;
	}
}

@media (max-width:530px) {


}

@media (max-width:480px) {
	.schools__row{
		padding: 45px 25px 0px 25px;
	}
	.schools__col{
		width: 100%;
	}
}

@media (max-width:380px) {


}