.sidebar{
	padding: 12.5px;
	
	width: 250px;
}

.sidebar__title{
	font-size: 24px;
	padding-left: 20px;
	margin: 15px 0 20px;
	font-family: $ukrainian-regular;
}
.sidebar__title_padding_0{
	padding: 0;
}
.sidebar__size-list{
	padding-top: 10px;
}

//cabinet


.sidebar__list{
	
	li{
		padding-left: 20px;
		transition:all 0.3s;
		margin-bottom: 10px;
	}
	
	.dcjq-parent{
		position: relative;
		padding-left: 20px;
		&.active{
			color: $light-blue;
			.dcjq-icon{
				border-color: $light-blue;
				transform:translate(0,-80%) rotate(45deg);
			}
		}
	}
	a{
		font-family: $light-helvetica;
		margin: 5px 0;
		display: inline-block;
		position: relative;
		transition:all 0.3s;
		color: $dark-blue;
		&:not(.dcjq-parent){
			padding-left: 20px;
			
			
			&:before{
				transition:all 0.3s;
				content: "";
				position: absolute;
				top: 8px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 100%;
				background: $gray-1;
				
			}
			&:hover{
				color: $light-blue;
				&:before{
					background: $light-blue;
				}
			}
		}
	}
	label {
		a{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
	.dcjq-icon{
		transition:all 0.3s;
		padding: 5px;
		border: solid $gray-1;
		border-width: 0px 1px 1px 0;
		position: absolute;
		left: 0;
		top: 50%;
		transform:translate(0,-50%) rotate(-45deg);
	}
}



.sidebar__lk-list{
	margin-top: 29px;
	li{
		margin-bottom: 20px;
		
	}
	a{
		font-family: $light-helvetica;
		transition:0.3s;
		font-size: 18px;
		color: $dark-blue;
		&:hover{
			color: $light-blue;
		}
		&.active{
			pointer-events: none;
			cursor: default;
			color: $light-blue;
		}
	}
}




@media (max-width:991px) {
	.sidebar{
		width: 100%;
		padding-bottom: 20px;
	}
	.sidebar__list{
		display: none;
	}
	.sidebar__title_mobile{
		position: relative;
		&:before{
			content: "";
			transition:all 0.3s;
			padding: 5px;
			border: solid $gray-1;
			border-width: 0px 2px 2px 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform:translate(0,-50%) rotate(-45deg);
		}
		&.active{
			color: $light-blue;
			&:before{
				border-color: $light-blue;
				transform:translate(0,-80%) rotate(45deg);
			}
		}
	}
}