.sidebar-mobile{
	height: 100%;
	background: $dark-blue;
	width: 320px;
	
	top: 0;
	left: 0;
	position: fixed;
	z-index: 30;
	transition:all 0.3s;
	transform:translateX(-100%);
	
	.menu{
		display: block;
	}
}  

.sidebar-mobile__wrapp{
	position: relative;
	height: calc(100% - 100px);
	overflow: hidden;
	overflow-y: scroll; 
	box-shadow: 0 0px 20px -4px rgba($dark,0.4) inset;
}

.sidebar-mobile__row{
	display: flex;
	.menu{
		width: calc(100% - 50px);
	}
}
.sidebar-mobile__burger{
	margin-left: auto;
	margin-right: 0;
	background: rgba($white,0.1);
	.burger__line{
		background: $white;
		&:before,
		&:after{
			background: $white;
		}
	}
}





body.js_active-sidebar{
	overflow: hidden;
	.wrapper{
		&:before{
			visibility: inherit;
			opacity: 1;
			pointer-events: auto;
		}
	}
	.sidebar-mobile{
		transform:translateX(0%);
		box-shadow: 5px 0 11px 5px rgba($dark,0.4);
	}
}