



.slider{
	.slider-arrow_left{
		left: 0;
	}
	.slider-arrow_right{
		right: 0;
	}
}
.slider__slide{
	padding: 15px 0;
}





.slider-arrow{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	transform:translate(0,-50%) scale(1);
	cursor: pointer;
    border-radius: 100%;
    transition:all 0.3s;
	z-index: 10;
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 6px;
		transition:all 0.3s;
		border: solid $gray-1;
		border-width: 1px 1px 0px 0px;
	}
	&:active{
		transform:translate(0,-50%) scale(1.1);
	}
	&:hover{
		background: $light-blue;
		&:before{
			border-color: $white;
		}
	}
}
.slider-arrow_left{
	left: 10px;
	&:before{
		transform:translate(-35%,-50%) rotate(-135deg);
	}
}
.slider-arrow_right{
	right: 10px;
	&:before{
		transform:translate(-65%,-50%) rotate(45deg);
	}
}
.slider-arrow_blue{
	background: $light-blue;
	&:before{
		border-color: $white;
	}
	&:hover{
		background: darken($light-blue,10%);
	}
}