.spheres{
	position: relative;
	margin-top: -30px;
	margin-bottom: 100px;
}

.spheres__slider{
	// padding:0 30px;
	background: $gray-9;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	.slider-arrow_left{
		left: -20px;
	}
	.slider-arrow_right{
		right: -20px; 
	}
	 
}


.spheres__slide{
	padding: 40px 0px; 
	display: inline-block;
	text-align: center;
	&.slick-current{
		color: $light-blue;
		.spheres__image{
			background: darken($gray-2,7%);
		}
		font-family: $bold-helvetica;
	}
}


.spheres__block-link{
	display: inline-block;
	color: $dark-blue;
	text-align: center;
	transition:all 0.3s;
	&:hover{
		color: $light-blue;
		.spheres__image{
			background: darken($gray-2,7%);
			svg{
				path{
					fill:$gray-2;
				}
			}
		}
	}
}
.spheres__image{
	width: 90px;
	height: 90px;
	position: relative;
    border-radius: 100%;
	background: $gray-2;
	transition:all 0.3s;
	margin: 0 auto;
	margin-bottom: 5px;
	img{
		width: 52px;
		height: auto;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		path{
			transition:all 0.3s;
			fill:$light-blue;
		}
	}
	
}

@media (max-width:530px) {
	.spheres{
		margin-bottom: 80px;
	}
	
	.spheres__slider{
		.slider-arrow_left{
			left: 10px;
		}
		.slider-arrow_right{
			right: 10px; 
		}
	}
}