.table-product{
	&.active{
		text-align: center;
		.table-product__list{
			display: none;
		}
		.block-product{
			display: block;
		}
		.table-product__row{
			display: flex;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			margin: 0 -10px;
		}
		.table-product__col{
			width: 33.33%;
			padding: 10px;
		}
	}
	
	.block-product{
		display: none;
	}
}
// js-tab-style


.table-product__list{
	width: 100%;
	text-align: center;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	.th,
	.td{
		text-align: center;
		font-family: $light-helvetica;
		&:first-child{
			width: 80px;
			text-align: left;
		}
		&:nth-child(2){
			width:calc(60% - 80px);
			text-align: left;
		}
		&:nth-child(3){
			width: 14%;
		}
		&:nth-child(4){
			width: 14%;
		}
		&:nth-child(5){
			width: 12%;
		}
	}
	.th{
		white-space: nowrap;
		color: $gray-8;
		font-weight: 300;
		padding-bottom: 40px;
	}
	.td{
		padding: 7px 0;
	}
	&.tr{
		.block-number{
			pointer-events: none;
			.block-number__minus,
			.block-number__plus{
				opacity: 0;
			}
		}
		&.active-product{
			.table-product__product-image{
				display: block;
			}
			.block-number{
				pointer-events: auto;
				.block-number__minus,
				.block-number__plus{
					opacity: 1;
				}
			}
		}
	}
	.checkbox{
		.checkbox__square{
			margin-right: 0;
		}
	}
}

.table-product_product{
	
}
.table-product__title{
	
	padding-bottom: 20px;
}

.table-product__product{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.table-product__product-image{
	width: 83px;
	height: 66px;
	overflow: hidden;
	position: relative;
	margin-right: 30px;
	display: none;
}
.table-product__product-text{
	max-width: 303px;
	cursor: pointer;
	color: $dark-blue;
	&:hover{
		text-decoration: underline;
	}
}
.table-product_th-icon{
	display: none;
	padding: 0 20px;
	path{
		fill:$dark-blue;
	}
}
.table-product__mobile{
	display: none;
}

@media (max-width:1199px) {
	.table-product__list{
		.th,
		.td{
			&:nth-child(2){
				width: 380px;
			}
		}
	}
}
@media (max-width:730px) {
	.table-product{
		&.active{
			.table-product__col{
				width: 50%;
			}
		}
	}
	.table-product_th-icon{
		display: inline-block;
	}
	.table-product__list{
		.th,
		.td{
			&:first-child,
			&:nth-child(4){
				display: none;
			}
			&:nth-child(2){
				width: 56%;
			}
			
			&:nth-child(3),
			&:nth-child(5){
				width: 22%;
			}
		}
		.th{
			&:nth-child(3),
			&:nth-child(5){
				color: transparent;
				font-size: 0;
				
			}
		}
		&.tr{
			&.active-product{
				.table-product__mobile{
					display: block;
				}
				.table-product__mobile-code{
					margin: 15px 0;
				}
				.table-product__product{
					display: block;
				}
				.table-product__product-image{
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}
}
@media (max-width:530px) {
	.table-product{
		&.active{
			.table-product__col{
				width: 100%;
			}
		}
	}
}