.jsx-modal{
	display: none;
	padding: 60px 10px 0;
	overflow-y: auto;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	z-index: 150;
	font-size: 0;
	
}
.jsx-modal:after{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
	pointer-events: none;
	content: "";
}


.jsx-modal__block{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 60px;
	width: calc(100% - 4px);
	max-width: 750px;
	
}

.jsx-modal__close_style{
	z-index: 2;
	cursor: pointer;
	transition:all 0.3s;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 8px;
	right: 8px;
	transform:rotate(45deg);
	&:hover{
		transform:scale(1.1) rotate(45deg);
		&:before,
		&:after{
			background: #2B3D57; 
		} 
	}
	&:before,
	&:after{
		content: "";
		transition:0.3s; 
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		border-radius: 100px;
		background: #BDBDBD;
	}
	&:before{
		width: 100%;
		height: 2px;
	}
	&:after{
		width: 2px;
		height: 100%;
	}
}

body.jsx-hidden{
	overflow: hidden;
}






// @media (max-width:530px) {
// 	.modal-popup-block{
// 		max-width: 450px;
// 	}
// }