@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}

@mixin background($size,$repeat,$position) {
	background-size: $size;
	background-repeat: $repeat;
	background-position: $position;
}