// fonts


$bold-helvetica: 'Conv_HelveticaBold', sans-serif;
$regular-helvetica: 'Conv_HelveticaRegular', sans-serif;
$light-helvetica: 'Conv_HelveticaLight', sans-serif;


$ukrainian-regular: 'Conv_ukrainianizhitsa', sans-serif;









// colors

$white: #FFFFFF;
$dark-blue: #2B3D57;
$light-blue: #5795F2;
$dark: #000000;
$gold: #EDD74F;
$gray-1: #CDCDCD;
$gray-2: #F2F2F2;
$gray-3: #C4C4C4;
$gray-4: #F4F4F4;
$gray-5: #DCDCDC;
$gray-6: #FBFBFB;
$gray-7: #BDBDBD;
$gray-8: #A5A5A5;
$gray-9: #F8F8F8;
$gray-10: #5C697B;
$gray-11: #D1D1D1;
