.attach{
	display: inline-block;
	cursor: pointer;
}

.attach__nesting{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.attach__icon{
	
}

.attach__text{
	font-size: 14px;
	color:$dark-blue;
}

.attach__input{
	display: none;
}

.attach__wrapp-label{
	position: relative;
	width: 200px;
	height: 25px;
	margin: 10px 0 15px 0;
}

.attach__label{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.attach__icon{
	width: 18px;
	height: 19px;
	background: url(./images/svg/icons/icon-attach.svg) no-repeat left/contain;
	padding-left: 35px;
}
