.block-review{
	width: 100%;
	max-width: 225px;
	text-align: center;
	margin: 0 auto;
}

.block-review__image{
	width: 134px;
	height: 134px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 100%;  
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}



.block-review__info{
	color: $dark-blue;
	text-align: left;
}

.block-review__text{
	font-size: 12px;
	padding: 15px 0 10px 0;
}

.block-review__person{
	font-size: 16px;
}