.block-product{
	color: $dark-blue;
	padding: 15px 15px;
	transition:0.3s;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	position: relative;
	&:hover{
		background: #FFF;
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	}
}

.block-product__image{
	width: 100%;
	height: 250px;
	position: relative;
}

.block-product__img{
	width: 100%;
	height: 100%;
	object-fit:contain;
	position: absolute;
	top: 0;
	left: 0;
}

.block-product__info{
	text-align: center;
	padding-top: 20px;
}

.block-product__name{
	font-size: 18px;
}

.block-product__model{
	font-size: 16px;
	padding: 15px 0 20px 0;
}

.block-product__price{
	font-size: 24px;
	padding-bottom: 20px;
}

.block-product__btn{
	z-index: 3;
	position: relative;
	display: inline-block;
}

.block-product__link{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 2;
	width: 100%;
	height: 100%;
}



@media (max-width:480px) {
	.block-product{
		margin: 0 auto;
		width: 100%;
		max-width: 350px;
	}
}