.block-number{
	display: flex;
	div{
		width: 40px;
		height: 40px;
	}
}

.block-number__input{
	width: 100%;
	height: 100%;
	border: solid $gray-4;
	border-width: 1px 0 1px 0;
	display: block;
	text-align: center;
	font-size: 18px;
	font-family: $bold-helvetica;
}

.block-number__minus,
.block-number__plus{
	 user-select: none;
	cursor: pointer;
	transition:all 0.2s;
	background: $gray-4;
	font-size: 20px;
	line-height: 35px;
	text-align: center; 
	font-family: $bold-helvetica;
	&:hover{
		background: $gray-5;
	}
}
.block-number__minus{
	border-radius: 5px 0px 0px 5px;
}
.block-number__plus{
	border-radius: 0px 5px 5px 0px;
}

.block-number_transparent{
	width: 80px;
	margin: 0 auto;
	div{
		width: 30px;
	}
	.block-number__minus,
	.block-number__plus{
		background: transparent;
		font-family: $light-helvetica;
	}
	.block-number__input{
		width: 30px;
		border: none;
		font-family: $light-helvetica;
	}
}