.block-link-shopping-cart{
	font-size: 0;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	height: 85px;
	width: 165px;
	background: rgba($dark-blue,0.5);
	color: $gray-2;
	transition:all 0.3s;
	span{
		display: inline-block;
		vertical-align: middle;
		margin:0 2px;
		font-size: 12px;
	}
	&:hover{
		background: rgba($dark-blue,1);
	}
}

@media (max-width:1199px) {
	.block-link-shopping-cart{
		height: 60px;
	}
}
@media (max-width:991px) {
	.block-link-shopping-cart{
    	background: transparent;
		height: 50px;
		color: $dark-blue;
		span{
			path{
				fill: $dark-blue;
			}
		}
		&:hover{
			color: $white;
			span{
				path{
					fill: $white;
				}
			}
			background: rgba($dark-blue,1);
		}
	}
}