.bread-crumbs{
	display: flex;
		li{
			&:last-child{
				a{
					cursor: default;
					pointer-events: none;
					font-family: $regular-helvetica;
				}
			}
			a{
				font-family: $light-helvetica;
				font-size: 14px;
				color: $gray-8;
				
			}
			&:not(:first-child){

				&:before{
					content: '/';
					font-size: 14px;
					color: $gray-8;
					padding: 0 2px 0 8px;
				}
			}
			
		}
}

.bread-crumbs_p2{
	padding: 25px 0 20px 0;
}