.btn{
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-transform: uppercase;
	max-width: 230px;
	transition:all 0.3s;
	border-radius: 4px;
	font-size: 16px;
	font-family: $light-helvetica;
	text-align: center;
	cursor: pointer;
	display: block;
	outline: none;
	border: none;
}


.btn_white{
	color: $dark-blue;
	background: $white;
	&:hover{
		background: $light-blue;
		color: $white;
	}
}
.btn_blue{
	font-size: 14px;
	color: $white;
	background: $light-blue;
	&:hover{
		background: darken($light-blue,5%);
	}
}
.btn_gray{
	font-size: 14px;
	background:$gray-2;
	color: rgba($dark,0.5);
	&:hover{
		color: $white;
		background: $light-blue;
	}
}

.btn_green{
	background:#2BD756;
	color: $white;
	font-size: 14px;
	&:hover{
		background: darken(#2BD756,10%);
	}
}