

.burger{
    display: none;
    width: 50px;
    height: 50px;
    right: 0;
    // background: $dark-blue;
    position: relative;
    cursor: pointer;
    z-index: 5;
    
    &.active{
        .burger__line{
            background: transparent;
            &:before,
            &:after{
                width: 100%;
                top: 50%;
                bottom: auto;
            }
            &:before{
                transform: translate(0,-50%) rotate(45deg);
            }
            &:after{
                transform: translate(0,-50%) rotate(-45deg);
            }
        }
    }
}
.burger__line{
    transition:all 0.3s;
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: $dark-blue;
    &:before,
    &:after{
        content: "";
        transition:all 0.3s;
        height: 1px;
        position: absolute;
        background: $dark-blue;
        display: block;
        
    }
    &:before{
        width: 100%;
        top: -5px;
    }
     &:after{ 
        width: calc(100% - 5px);
        bottom: -5px;
    }
}
@media (max-width:991px) {
    .burger{
        display: block;
    }
}