


.checkbox{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox_check{
	.checkbox__square{
		width: 14px;
		height: 14px;
		border-radius: 5px;
		&:before{
			content: "";
			width: 8px;
			height: 8px;
			background: $light-blue;
			border-radius: 5px;
		}
	}
	.checkbox__text{
		width: calc(100% - 24px);
		font-family: $light-helvetica;
	}
	.checkbox__checkbox:checked + .checkbox__nesting{
		.checkbox__square{
			background: transparent;
			
			&:before{ 
				opacity: 1;
			}
		}
	}
}
.checkbox_radio{
	.checkbox__square{
		width: 14px;
		height: 14px;
		border-radius: 100%;
		&:before{
			content: "";
			width: 8px;
			height: 8px;
			background: $light-blue;
			border-radius: 100%;
		}
	}
	.checkbox__text{
		width: calc(100% - 24px);
		font-family: $light-helvetica;
	}
	.checkbox__checkbox:checked + .checkbox__nesting{
		.checkbox__square{
			background: transparent;
			
			&:before{ 
				opacity: 1;
			}
		}
	}
}

.checkbox__checkbox{
	display: none;
}

.checkbox__checkbox:checked + .checkbox__nesting{
	.checkbox__square{
		background: $light-blue;
		border-color: $light-blue;
		&:before{ 
			opacity: 1;
		}
	}
}
.checkbox__checkbox.error + .checkbox__nesting{
	.checkbox__text{
		color: red;
	}
}
.checkbox__nesting{
	font-size: 0;
}

.checkbox__square,
.checkbox__text{
	display: inline-block;
	vertical-align: middle;
}
.checkbox__square{ 
	width: 18px;
	height: 18px;
	margin-right: 10px;
	border: 1px solid $dark-blue;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 12px;
		height: 10px;
		background: url(images/svg/icons/icon-checked.svg) no-repeat center/contain;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		transition:all 0.3s;
		opacity: 0;
	}
}
.checkbox__text{
	font-weight: 300;
	font-size: 14px;
	color: $dark-blue;
	width: calc(100% - 28px);
	transition:all 0.3s;
}