.header-decree{
	overflow: hidden;
	position: relative;
	margin-top: 50px;
	height: 227px;
	@include background(cover,no-repeat,center);
	&:before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		top: 0; 
		left: 0; 
		height: 150px;
		background: linear-gradient(180deg, rgba($white,0.9) 0%, rgba($white, 0) 100%);
		z-index: 1;
	}
}