.info-list{
	max-width: 320px;
	width: 100%;
	padding: 55px 0 35px 0;
}


.info-list__item{
	width: 100%;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	position: relative;
	padding-bottom: 15px;
	&:after{
		content: '';
		position: absolute;
		bottom: 19px;
		left: 0;
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed rgba(0, 0, 0, 1);
	}
}

.info-list__item-text{
	background: $white;
	z-index: 1;
	font-size: 18px;
	color: $dark-blue;
	&:nth-child(even){
		position: absolute;
		left: 100%;
		top: 0;
	}
}

.info-list__btn{
	font-size: 14px;
	letter-spacing: 0.04em;
	margin-top: 20px;
}

@media (max-width:991px) {
	.info-list{
		padding-bottom: 25px;
	}
}

@media (max-width:580px) {
	.info-list__item-text{
		font-size: 14px;
		&:nth-child(even){
			position: static;
			left: 0;
		}
	}
}

@media (max-width:320px) {
	.basket__btn{
		margin: 0 auto;
	}
}