.input-search{
	display: block;
	height: 85px;
	width: 165px;
	font-size: 14px;
	color: $dark-blue;
	font-family: $light-helvetica;
	text-indent: 45px;
	transition:all 0.3s;
	position: relative;
	z-index: 10;
	background: url(./images/svg/icons/icon-magnifying-glass.svg) no-repeat 15px center;
	@include placeholder {
		color: $dark-blue;
	}
	&:focus{
		background:$white url(./images/svg/icons/icon-magnifying-glass.svg) no-repeat 15px center;
	}
}

@media (max-width:1199px) {
	.input-search{
		height: 60px;
	}
}
@media (max-width:991px) {
	.input-search{
		height: 50px;
	}
}