.input{
	height: 40px;
	font-size: 14px;
	text-indent: 20px;
	color: rgba($white,0.5);
    border-radius: 4px;
    border: 1px solid rgba($white,0.5);
    width: 100%;
    &:focus{
		color: rgba($white,1);
		border: 1px solid rgba($white,1);
    }
} 

.input_gray{
	border: 1px solid $gray-11;
	color: $dark-blue;
	 &:focus{
		color:$dark-blue;
		border: 1px solid $dark-blue;
    }
}

.input_line{
	color: $dark-blue;
    border: solid $gray-7;
    border-width: 0 0 1px 0;
    border-radius: 0px;
    width: 100%;
    text-indent: 0;
     &:focus{
		color:$dark-blue;
		border: solid $dark-blue;
    	border-width: 0 0 1px 0;
    }
}