.my-setting{
	color: $dark-blue;
	padding-bottom: 150px;
}
.my-setting__row{
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 0 7.5px 0px 27.5px;
}

.my-setting__col{
	&:first-child{
		width: calc(100% - 375px);
	}
	&:last-child{
		width: 375px;
		padding: 0 0px 0 85px;
	}
}



.my-setting__title{
	font-family: $ukrainian-regular;
	font-size: 24px;
	padding-bottom: 30px;
}

.my-setting__list{
	max-width: 100%;
	width: 100%;
	.input_line{
		border: none;
		pointer-events: none;
		height: 100%;
	}
	&.active-edit{
		max-width: 230px;
		.input_line{
			border: solid $gray-7;
		    border-width: 0 0 1px 0;
		    border-radius: 0px;
			pointer-events: inherit;
			height: 40px;
		}
	}
}

.my-setting__password{
	padding: 65px 0 0 0;
}

.my-setting__item{
	padding-bottom: 20px;
}

.my-setting__label{
	font-size: 12px;
	font-family: $bold-helvetica;
	text-transform: uppercase;
}

.my-setting__label_ttn{
	text-transform: none;
}

.my-setting__image{
	padding-top: calc(463% * 100 / 290);
    position: relative;
}



.my-setting__buttons{
	padding-top: 10px;
	display: flex;
}

.my-setting__btn_mr20{
	margin-right: 20px;
}

.my-setting__btn_mt10{
	margin-top: 10px;
}

@media (max-width:1199px) {
	.my-setting__col{
		&:first-child{
			width: calc(100% - 290px);
		}
		&:last-child{
			width: 290px;
			padding: 0 0px 0 27px;
		}
	}

	.my-setting__btn_mr20{
		margin: 0 0 20px 0;
	}
	.my-setting__buttons{
		display: block;
	}

}

@media (max-width:991px) {
}

@media (max-width:730px) {
	.my-setting{
		padding: 0 0 55px 0;
	}

	.my-setting__row{
		padding: 0;
	}

	
	.my-setting__col{
		&:first-child{
			width: 100%;
		}
		&:last-child{
			width: 290px;
			margin: 75px auto  0 auto;
			padding: 0;
			
		}
	}

	.my-setting__buttons{
		display: block;
	}

	.my-setting__btn_mr20{
		margin: 0 0 20px 0;
	}

	
}
@media (max-width:530px) {
	.my-setting__password {
    	padding: 35px 0 0 0;
	}
	.my-setting__col{
		&:last-child{
			display: none;
		}
	}
}


