.popup-sign_modal-block{
	max-width: 701px;
}

.popup-sign{
	background: $white;
	width: 100%;
	padding: 40px;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.popup-sign__title{
	font-size: 24px;
	margin-bottom: 15px;
	font-family: $ukrainian-regular;
}
.popup-sign__text{
	color: $dark;
	margin-bottom: 15px;
	max-width: 210px;
	font-family: $light-helvetica;
	font-size: 16px;
}
.popup-sign__col{
	width: 50%;
	&:first-child{
		text-align: left;
		padding-bottom: 30px;
	}
}

.popup-sign__form{
	text-align: left;
	max-width: 100%;
	width: 100%;
	.input{
		margin-bottom: 15px;
		
	}
	.btn{
		max-width: 100%;
		margin-bottom: 10px;
	}
}
.popup-sign__btn{
	margin-top: 15px;
}

.popup-sign__link{
	display: inline-block;
	text-decoration-line: underline;
	color: $dark-blue;
	margin-top: 15px;
	font-size: 12px;
	font-family: $light-helvetica;
	&:hover{
		text-decoration: none;
	}
}



// POPUP OUTLAY
.popup-outlay{
	@include background(cover,no-repeat,center);
}

@media (max-width:730px) {
	.popup-sign_modal-block{
		max-width: 350px;
	}
	.popup-sign{
		display: block;
		padding:40px 10px;
	}
	.popup-sign__col{
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
	}
}