.js-range{
	margin-top: 18px;
	height: 2px;
	background: rgba($gray-1,0.2);
	border: none !important;
	.ui-slider-handle{
		width: 10px;
		height: 10px;
		-webkit-border-radius: 100%;
		        border-radius: 100%;
		 background: $light-blue;
		 border-color: $light-blue;
		top: 50%;
    	transform: translateY(-50%);
		cursor: pointer;
	}
	.ui-slider-range{
		background: $dark-blue;
	}
}
.range{
	padding: 20px 0;
	
}
.range-text{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	p{
		font-family: $light-helvetica;
		font-size: 14px;
	}
}
