.text-title{
	font-family: $ukrainian-regular;
	font-size: 40px;
	color: $dark-blue;
	padding-bottom: 20px;
}

@media (max-width:730px) {
	.text-title{
		font-size: 32px;
	}
}

@media (max-width:480px) {
	.text-title{
		font-size: 28px;
	}
}