ul {
	list-style-type: none;
}

p, h1, h2, h3, h4 {
	margin: 0;
	font-weight: 100;
}

a {
	text-decoration: none;
	outline: none;
}
input, textarea {
	background-color: rgba(255,255,255, 0);
	outline: none;
	text-decoration: none;
	border: none;
}
img{
	max-width: 100%;
}
:focus {
	outline: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
